<div class="dropdown componentReu" (clickOutside)="closeDropdown()" [ngClass]="{'active': isDrop, 'disabled': disabled}">
    <label class="col-lg-3 col-form-label"><b *ngIf="required && !disabled" class="text-danger">*</b> {{textShow}}</label>
    @if (!disabled) {
        <div class="activeDrop" (click)="toggleDrop()" [ngStyle]="{'width' : !editable ? '0' : '40px'}"></div>
    }
    <input
        class="form-select"
        type="text"
        (click)="editable ? openDropdown() : toggleDrop()"
        [readOnly]="!editable"
        [disabled]="disabled"
        [(ngModel)]="selectedItem"
        [ngStyle]="{'border-color' : !selectedItem && required && showValidation ? '#f009' : required && showValidation ||selectedItem ? '#85d446' : '', 'cursor': disabled ? 'no-drop' : editable ? 'text' : 'pointer'}"
        (input)="onInputChange($event)"
        placeholder="Seleccione {{textShow2}}">
    <div class="dropdown-perso" [ngStyle]="{'transition' : duration+'s'}">
        <div class="drop-content">
            <!-- {{ filteredData.length === 0 ? 'No hay datos' : '' }} -->
            <p (click)="clearSelection()">Sin selección</p>
            @for (item of filteredData; track $index) {
                <p (click)="darItem(item)">{{item[optionLabel]}}</p>
            }
        </div>
    </div>
</div>